*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.dbmdl
*.jfm

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
build-output/
publish/
publish-singlefile/

.vs/
.vscode/
.idea/

*.nupkg
*.snupkg
packages/

TestResults/
[Tt]emp/

*.resharper
*.DotSettings.user

Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
